.bd-warr{
	padding-top: 2rem;
	height: 100vh;
}
.bd-warr .arend{
	display: flex;
	flex-direction: column;
}
.list-warr{
	flex-grow: 1;
	padding-right: 2rem;
	overflow: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.list-warr > section{
	width: 48.5%;
	background: #FFF;
	padding: 1rem;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
	margin-bottom: 1rem;
}
.list-warr > section hr{
	border-bottom: 1px #ddd solid;
	margin: 1rem 0 .5rem;
}
.list-warr .first{
	font-size: .95rem;
	cursor: pointer;
}
.list-warr .first b{
	display: flex;
	justify-content: space-between;
	color: #00B9A3;
}
.list-warr .first small{
	font-weight: lighter;
	text-decoration: underline;
	color: #3398DC;
}
.list-warr h3{
	margin-top: 10px;
	color: #777;
}
.list-warr h4{
	color: #666;
	margin-top: 1rem;
}
.list-warr p{
	font-size: .94rem;
	margin-top: 5px;
	line-height: 1.4rem;
}
.list-warr .more{
	background: #f9f9f9;
	max-height: 0;
	overflow: hidden;
	font-weight: lighter;
}
.list-warr .more.show{
	padding: 1rem;
	border-top: 1px;
	margin-top: 1rem;
	max-height: 100vh;
}