#ErrorDocument 404 http://jigasoft.git/CREDIAL/redirect/404.html
#ErrorDocument 403 http://jigasoft.git/CREDIAL/redirect/403.html
#ErrorDocument 500 http://jigasoft.git/CREDIAL/redirect/500.html

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

