.content-body,
.search-span,
.add-new-form > div,
.hs-container .geral-info,
.geral-info .mini-report,
.mini-report nav,
/*.geral-info section,*/
.list-history div,
.mp-liquidar .secDiv/*,
.content-body .alphabet*/{
	display: flex;

}

.content-body{
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 1rem;
	padding-top: 2rem;
	overflow: hidden;
}
.content-body .search-span{
	align-items: center;
	width: 100%;
	border: none;
	border-bottom: 2px #ddd solid;
	max-width: 600px;
	margin: 2rem 0;
	color: #555;
	flex-shrink: 0;	
}
.search-span span{
	padding: 5px 0;
	width: 30px;
	display: flex;
	overflow: hidden;
	border-radius: 20px;
}
.search-span i.icon-search{
	color: #aaa !important;
	font-size: .85rem;
	transform: translate(-3px, 2px);
}
.search-span span:hover{
	padding: 5px 10px;
	width: auto;
	background: #00B9A3;
}
.search-span span:hover > i{
	color: #fff;
}
.search-span i{
	font-size: 1.2rem;
	margin: 0 5px;
}
.search-span.is-focused{
	border-bottom: 2px #00B9A3 solid;
}
.search-span.is-focused i{
	color: #00B9A3;
}
.search-span input{
	flex-grow: 1;
	font-size: 1.3rem;
	padding: .3rem 0 .3rem .5rem;
	border: none;
	background: transparent;
	font-weight: lighter;
}
.search-span i{
	cursor: pointer;
}
.content-body .new-client,
.content-body .new-simulation{
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	display: inline-block;
	width: 50px;
	line-height: 47px;
	height: 50px;
	border-radius: 50%;
	background: #02A8F4;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);
	font-weight: bold;
	z-index: 10;
}
.content-body .new-simulation{
	bottom: 6rem;
	background: #5FBC4D;
	font-size: 1.1rem;
	display: inline-block;
	line-height: 50px;
}
.new-client:hover,
.new-simulation:hover{
	box-shadow: none;
}

.new-client:hover{
	background: #4387fd;
}
.table-client{
	flex-grow: 1;
	width: 100%;
	background: #fff;
	max-width: 1000px;
}
.table-client table{
	height: 100%;
}
.table-client table tbody{
	font-size: .97rem;
}
.content-body .alphabet{
	position: absolute;
	font-size: .97rem;
	left: 0;
	bottom: 0;
	height: 88%;
	overflow: auto;
	background: rgba(0,0,0,.8);
	text-align: center;
	transform: translateX(-101%);
}
.content-body .alphabet.show{
	transform: translateX(0);
}
.alphabet span{
	display: block;
	width: 4rem;
	cursor: pointer;
	line-height: 2rem;
	margin-bottom: 7px;
	color: #f5f5f5;
}

.alphabet span:hover{
	background: rgba(0,0,0, .6);
	color: #FFF;
}
.alphabet span.active{
	background: rgba(0,0,0, .6);
	color: #FFF;
}
.content-body .add-new-form{
	position: absolute;
	top: 0;
	left: -550px;
	background: #fff;
	max-width: 500px;
	box-shadow: 1px 0 20px 0 #bbb;
	color: #444;
	height: 100%;
	overflow: auto;
	transition: all .5s;

}
.content-body .add-new-form > div{
	flex-direction: column;
	position: relative;
	height: 100%;
	padding: 1rem 2rem 0 2rem;
}
.add-new-form.show{
	left: 0;
	transition: all .5s;
}
.add-new-form .master{
	flex-grow: 1;
}
.add-new-form section{
	overflow: hidden;
}
.add-new-form h1{
	/*font-weight: lighter;*/
	font-size: 1.5rem;
	color: #4387FD;
	/*text-align: center;*/
}
.add-new-form .header-tittle{
	margin-top: 1.5rem;
	color: #00B9A3;
	margin-bottom: 2rem;
	border-bottom: 1px #ddd solid;
	padding-bottom: 5px;
	cursor: pointer;
}
.add-new-form input,
.add-new-form select{
	color: #444;
}
.header-tittle.shrink{
	color: #333;
	margin-bottom: 0;
}
.header-tittle.shrink i{
	transform: rotate(180deg);
}
.header-tittle.shrink + .flex-form{
	max-height: 0;
	overflow: hidden;
}
.header-tittle + .flex-form{
	/*background: #f9f9f9;*/
}
.header-tittle i{
	font-size: 1.2rem;
	cursor: pointer;
}
.close-add-client{
	position: absolute;
	top: 0;
	right: 18px;
	color: red;
	font: 25px 'Gill Sans MT';
	font-weight: lighter;
	padding: .5rem 1rem;
	cursor: pointer;
	z-index: 10;
}
.add-new-form button,
.about-customer button{	
	margin-top: 1rem;
	line-height: 3rem;
	width: 100%;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #4285f4;
	font-weight: bold;
	color: #fff;
	outline: none;
	background: #4285f4;
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	margin-bottom: 1rem;
	flex-shrink: 0;
}
.about-customer button{
	margin-bottom: 0;
}
/*########################################*/

.history-selected{
	position: absolute;
	bottom: -100%;
	left: 0;
	height: 100%;
	background: #F3F7FA;
	width: 100%;
	padding: 1rem;
	overflow: auto;
	/*display: none;*/
}
.history-selected.show{
	bottom: 0;
}
.history-selected .title-history{
	text-align: center;
	margin: 2rem 0 1rem 0;
}
.history-selected .close-history{
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;
	justify-content: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.close-history hr{
	border-left: 1px #555 solid;
}
.close-history hr:first-child{
	transform: rotate(135deg);
}
.close-history hr:last-child{
	transform: rotate(45deg);
}
.hs-container{
	width: 100%;
	max-width: 1100px;
	position: relative;
	margin: auto;
}

.hs-container .geral-info{
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-top: 2rem;
	background: #fff;
	padding: 1rem;
}
.geral-info .mini-report{
	flex-wrap: wrap;
	justify-content: space-between;
	width: 48%;
	padding: 1rem;
	
}
.mini-report.rep1{
	flex-grow: 1;
}
.mini-report.rep2{
	width: 40%;	
	color: #252B37;
	position: relative;
	min-width: 360px;
}
.mini-report.rep2 section{
	width: 100%;
	height: 100%;
	border: 2px #eee solid;
}
.rep2 h1{
	margin-bottom: 2rem;
}
.rep2 h1 i{
	margin-right: .5rem;
}
.rep2 small{
	position: absolute;
	right: 20px;
	bottom: 10px;
	cursor: pointer;
	color: #3598DB;
}

.rep2 p{
	margin-bottom: 1rem;
}
.mini-report section{
	padding: 1rem;
	position: relative;
}
.mini-report.rep1 section{
	width: 48%;
	color: #fff;
}
.mini-report.rep1 section:nth-child(1),
.mini-report.rep1 section:nth-child(2){
	margin-bottom: 1.5rem;
}

.rep1 nav{
	justify-content: space-between;
	/*color: #717f86;*/
	font-weight: lighter;
}
.rep1 nav b{
	font-size: 1.1rem;
}
.rep1 h1{
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem 0;
}
.rep1 i{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.rep1 section:nth-child(1){
	background: #347AB8;
}
.rep1 section:nth-child(2){
	background: #FAC552;
}
.rep1 section:nth-child(3){
	background: #00C853;
}
.rep1 section:nth-child(4){
	background: tomato;
}


/*
.geral-info section{
	justify-content: space-between;
	align-items: center;
	width: 24%;
	padding: 1.5rem;
	color: #fff;

}
.geral-info section:nth-child(1){
	background: #347AB8;
}
.geral-info section:nth-child(1) i{
	color: #347AB8;
}
.geral-info section:nth-child(2){
	background: #FF855C;
}
.geral-info section:nth-child(2) i{
	color: #FF855C;
}
.geral-info section:nth-child(3){
	background: #0198CD;
}
.geral-info section:nth-child(3) i{
	color: #0198CD;
}
.geral-info section:nth-child(4){
	background: #00C853;
}
.geral-info section:nth-child(4) i{
	color: #00C853;
}
.geral-info section:nth-child(5){
	background: orange;
}
.geral-info section:nth-child(5) i{
	color: orange;
}
.geral-info section:nth-child(6){
	background: tomato;
}
.geral-info section:nth-child(6) i{
	color: tomato;
}
.geral-info h2,
.geral-info h3{
	font-weight: normal;
}
.geral-info h2{
	font-size: 1.7rem;
}
.geral-info h3{
	font-size: .95rem;
	margin-top: .5rem;
}
.geral-info i{
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	flex-shrink: 0;
}
*/
.hs-container .list-history{
	margin-top: 1rem;
	width: 100%;
}
.list-history section{
	background: #fff;
	padding: 1rem;
	border: 1px #e5e6e9 solid;
	border-bottom: 2px #ddd solid;
	margin-bottom: 10px;
	position: relative;
}
.list-history section.amortizado {
	border-left: 5px #FAC552 solid;
}
.list-history section.pago {
	border-left: 5px #00C853 solid;
}
.list-history section.por-pagar {
	border-left: 5px tomato solid;
}
.list-history .sh-more{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	font: 1rem arial;
	background: #00B9A3;
	border: 1px #e5e6e9 solid;
	border-radius: 50%;
	color: #FFF;
	font-weight: bold;
	transform: translate(40% , -40%) rotate(180deg);
}
.list-history hr{
	border: none;
	border-top: 1px #ddd solid;
	width: 80%;
	margin: auto;
}
.list-history div{
	justify-content: space-between;
	color: #555;
}
.list-history div.primary{
	margin-bottom: 5px;	
}
.list-history small{
	font-size: .9rem;
}
.list-history .more-details{
	max-height: 0;
	overflow: hidden;
}
.more-details.show{
	padding-top: 2rem;
	max-height: 1000px;	
}
.more-details .n-cheq{
	margin: 1rem 0;
}
.n-cheq h3{
	color: #347AB8;
}
.more-details h4{
	font-weight: normal;
}
.more-details .table-amort{
	display: block;
	margin-top: 1rem;
}
.table-amort h2{
	width: 100%;
	text-align: center;
	margin: 2rem 0 1rem 0;
	color: #00B9A3;
}

/*############################################*/
.mp-new-credit{
}
.mp-new-credit .modalContainer{
	max-width: 1200px;
	overflow: hidden;
}

.mp-new-credit .xpert-form{
	padding: 0 1rem;
}
.master-add-customer,
.mp-new-credit .div-total,
.part-2 ul,
.part-2 li,
.div-total-2,
.detail-table ul,
.about-customer,
.about-customer .total-val,
.about-customer .special-ipt,
.div-total .name-client,
.select-client div{
	display: flex;
}
.part-2 ul,
.part-2 li,
.detail-table ul,
.about-customer,
.about-customer .total-val,
.special-ipt,
.div-total .name-client,
.select-client div{
	justify-content: space-between;
}
.select-client{
	position: absolute;
	top: -4.5rem;
	left: 0;
	width: 100%;
	background: #FFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	opacity: 0;
	z-index: 1;
}
.select-client.show{
	top: 2rem;
	opacity: 1;
}
.select-client div{
	width: 100%;
	padding: 2rem;
	align-items: center;
}
.select-client input{
	margin-bottom: 0 !important;
	margin-right: 2rem;
}
.select-client b{
	border: none;
	padding: 8px 1rem;
	border-radius: 3px;
	background: #4387FD;
	font-size: .9rem;
	color: #FFF;
	cursor: pointer;
	margin-right: 10px;
}
.select-client section{
	width: 100%;
}
.select-client a{
	min-width: 150px;
}
.select-client small{
	color: #4387FD;
	text-decoration: underline;
	cursor: pointer;
}
.div-total{
	position: relative;
}
.div-total .name-client{
	align-items: center;
	position: absolute;
	top: 0;
	font-size: .95rem;
	color: #00B9A3;
	width: 100%;
	max-width: 320px;
}
.div-total .name-client .define-client{
	font-size: .9rem;
	font-weight: lighter;
	text-decoration: underline;
	cursor: pointer;
	color: #4387FD;
}
.mp-new-credit .part-1{
	flex-shrink: 0;
	max-width: 320px;
	margin-top: 2rem;
	margin-right: 2rem;
}
.part-1 .span-v,
.part-1 .init-value{
	font-size: 1.5rem !important;
}
.part-1 .init-value{
	text-align: right;
}
.part-1 button{
	background: #00B9A3;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 0 5px;
	font-size: .95rem;
}
.mp-new-credit .part-2{
	width: 100%;
	 width: 420px;
	border-left: 1px #ddd solid;
	padding-left: 2rem;
}
.part-2 ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	
}
.part-2 li{
	width: 100%;
	border-bottom: 1px #eee solid;
	line-height: 2rem;
}
.part-2 li:last-child{
	border-bottom: none;
}
.part-2  li b{
	color: #222;
}

.div-total-2{
	margin-top: 1.5rem;
	padding-top: 1.5rem;	
	border-top: 1px #eee solid;
	width: 780px;
}
.table-liquid{
	width: 100%;
}
.table-liquid table{
	height: 220px;
}
.div-total-2 .add-detail-table{
	width: 0;
	overflow: hidden;
	position: relative;
}
.add-detail-table.show{
	padding: 1rem;
	padding-left: 2rem;
	width: 240px;
	border: 1px #ddd solid;
	border-left: none;
	flex-shrink: 0;
}
.add-detail-table .close-add-detail{
	position: absolute;
	top: 5px;
	right: 5px;
	font: bold .6rem 'Gill Sans MT';
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	color: #000;
	cursor: pointer;
}
.add-detail-table button{
	background: #00B9A3;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 0 10px;
	font-size: .95rem;
}

.detail-table ul{
	width: 100%;
	padding: .6rem 1rem;
	background: #775549;
	color: #fff;
}

.about-customer{
	flex-direction: column;
	width: 320px;
	margin: 0 1rem;
	background: #fcfcfc;
	padding: 1rem !important;
	border: 1px #eee solid;
	position: relative;
	max-height: 85vh;
	overflow: auto;
}
.about-customer .item-descript{
	width: 100%;
	position: absolute;
	transform: translateY(-100%);
	top: 0;
	left: 0;
	background: #FFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
	max-height: 0;
	overflow: hidden;
}
.item-descript.visualize textarea{
	border-color: transparent;
}
.item-descript.visualize small{
	opacity: 0;
}
.item-descript.show{
	max-height: 500px;
	transform: translateY(0);
	padding: 1.5rem 1rem;
}
.item-descript textarea{
	height: 90px;
	margin-bottom: 5px;
}
.item-descript small{
	text-decoration: underline;
	color: #4387FD;
	cursor: pointer;
}

.about-customer .total-val{
	flex-wrap: wrap;
	font-size: 1.6rem;
	width: 100%;
}
.total-val b{
	display: block;
	width: 100%;
	color: #00C853;
	text-align: right;
}
.about-customer h2{
	margin-bottom: 1rem;
}
.about-customer .xpert-list{
	margin-bottom: 1rem;
}
.about-customer .special-ipt{
	flex-wrap: nowrap;
	width: 100%;
	border-bottom: 2px #dfdfdf solid;
	margin-bottom: 1.6rem;
}
.special-ipt.focused{
	border-bottom: 2px #3598DB solid ;
}
.special-ipt.empty{
	border-bottom: 2px red solid ;
}
.special-ipt.focused input.integer{
	border-bottom: none !important;
}
.special-ipt input{
	flex-grow: 1;
	border-bottom: none !important;
	margin-bottom: 0 !important;
}
.about-customer .x-list{
	margin: 3px 0 1rem 0;
}
/*#############################################*/

.mp-info-client{

}
.mp-info-client .divSec{
	padding: 0 2rem;
	position: relative;
	min-height: 400px;
}
.divSec .menu-info{
	margin-bottom: 3rem;
}
.menu-info li{
	display: inline-block;
	min-width: 110px;
	padding: .9rem 1rem;
	display: inline-block;
	position: relative;
	text-align: center;
	cursor: pointer;
	margin-right: 1rem;
	font-weight: bold;
}
.menu-info li:last-child{
	margin-right: 0;
}
.menu-info li.active{
	color: #3598DB;

}
.menu-info li.active:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #3598DB;
	transition: all .4s;

}
.menu-info li.active:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 3px;
	width: 0;
	border-left: 5px transparent solid;
	border-right: 5px transparent solid;
	border-bottom: 5px #3598DB solid;
	margin-left: -5px;
}

.divSec .content-info{
	position: relative;
}
.content-info section{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.content-info section.active{
	display: block;
}
.content-info p{
	margin-bottom: 1.7rem;
	color: #717f86;
}
.content-info p label{
	display: inline-block;
	min-width: 180px;
}
.content-info p span:before{
	content: ": ";
}

/*############################################*/

.mp-liquidar{

}

.mp-liquidar .content{
	padding: 1rem;
	padding-bottom: 0;
	margin-bottom: 2rem;
	border-bottom: 1px #ddd solid;
}
.mp-liquidar i.icon-checkbox-checked{
	color: #3598DB;
}

.mp-liquidar .type-font{
	margin: 1rem 0 2.5rem;
	font-size: 1.1rem;
	text-align: center;
}
.mp-liquidar i,
.mp-liquidar label{
	cursor: pointer;
	white-space: nowrap;
}

.mp-liquidar section{
	align-items: flex-start;
	padding-bottom: 1rem;
}
.mp-liquidar .sec-same{
	max-width: 280px;
	
}
.mp-liquidar .rest{
	color: red;
	font-size: 1.8rem;
	text-align: right;
}
.mp-liquidar .rest:after{
	content: " STD";
	color: #222;
}
.mp-liquidar .sec-another{
	max-width: 0;
	overflow: hidden;
	
}
.mp-liquidar .sec-another p{
	margin-bottom: 1rem;
}
.mp-liquidar .sec-another.show{
	padding-left: 2rem;
	margin-left: 2rem;
	border-left: 1px #ddd solid;
	max-width: 220px;
}
i.unchange{
	color: #888 !important;
}
.mp-confirm-simulation{
	z-index: 1001;
}