.report-content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
iframe{
	flex-grow: 1;
	width: 100%;
	display: block;
}

.article-report{
	overflow: hidden;
}
.article-report .search-agency{
	width: 100%;
	background: #FFF;
	position: relative;
	top: 0;
	left:0;
	padding: 0 2rem;
	z-index: 5;
}
.search-agency.hidden{
	transform: translateY(-100%);
	margin-bottom: -85px;
}
.search-agency.float{
	position: absolute;
	box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}
.search-agency .search-1{
	width: 100%;
	max-width: 650px;
	flex-wrap: nowrap;
	margin: auto;
}
.sh-srch-agc{
	position: absolute;
	top: 10px;
	right: 5px;
	color: #333;
	font-size: 1.7rem;
	cursor: pointer;
}
.pin{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #555;
	cursor: pointer;
}
.pin.pinned{
	transform: rotate(-45deg);
	color: #3398DC;
}
.search-agency.hidden .sh-srch-agc{
	top: 100%;
	transform: rotate(180deg);
}
.search-agency .flex-form{
	align-items: center;
}
.search-agency select{	
	
	max-width: 620px;
	margin: 1.2rem auto;
	background: #EEE;
	font-size: 1rem;
	padding: 12px;
	border-radius: 4px;
	color: #555;
	border: none;
}
.search-agency select.agency{
	flex-grow: 1;
}
.search-agency select.param{
	margin-left: -2px;
	border-left: 1px #ccc solid;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.search-agency select:focus{
	border: none !important;
}
.is-periodic{
	color: #888;
	max-width: 650px;
	margin: auto;
	max-height: 0;
	overflow: hidden;
}
.is-periodic.show{
	max-height: 500px;
	padding: 1rem 0 2rem;
}
.is-periodic input{
	margin-bottom: 0 !important;
}
.contentOfSection .container div{
	border: 5px tomato solid;
	height: 100%;
	padding: 1rem 2rem;
}