.report-content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
iframe{
	flex-grow: 1;
	width: 100%;
	display: block;
}

.article-report{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: row !important;
	width: 100%;
	
}
.article-report .content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
.content .header-report{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem 0;
}
.article-report .filter-report{
	flex-shrink: 0;
	height: 100%;
	/*max-height: 100%;*/
	padding: 1rem;
	width: 320px;
	background: #fff;
	transition: all .7s;
	overflow: auto;
	z-index: 30;
}
.filter-report.float{
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	box-shadow: 1px 0 20px 0 #ccc;
}
.filter-report.hidden{
	right: -100%;
	transition: all .7s ease;
}

.filter-report .add-section-filter{
	position: relative;
	display: flex;
}
.filter-report .periodic{
	margin: 1rem 0 3rem;
	color: #555;
}
.filter-report div nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filter-report i{
	cursor: pointer;
}
.filter-report i.icon-ctrl{
	font-weight: bold;
	transform: rotate(180deg);
}
.filter-report i.icon-ctrl.show{
	transform: none;
}
.periodic .prd-enabled{
	max-height: 0;
	overflow: hidden;
}
.periodic .prd-enabled.show{
	margin-top: 1rem;
	max-height: 500px;
	border-bottom: 1px #eee solid;
	padding-bottom: 1rem;
}
.add-section-filter b{
	display: none;
}
.filter-report .ctrls{
	margin-bottom: 2rem;
	position: relative;
	/*display: flex;
	justify-content: space-between;*/
}

.ctrls i,
.funtionality i{
	position: relative;
	left: 75%;
	font-size: .95rem;
	cursor: pointer;
	width: 37px;
	line-height: 35px;
	background: rgba(220,220,220, .1);
	border: 1px solid rgba(220,220,220, .5);
	text-align: center;
	border-radius: 50%;
	color: #3879D9;
	
	z-index: 5;
}
.funtionality i{
	color: #FFF;
	position: static;
	margin-left: 3px;
}
.funtionality separator{
	display: inline-block;
	width: 15px;
}
.ctrls i:hover{
	background: #FFF;
	border: 1px solid #3879D9;
}
i.icon-filter{
	background: #3879D9;
}

i.icon-file-excel{
	border: 1px solid #009659;
	background: #00A663;
}
.funtionality i.icon-file-excel:hover{
	background: #009659;
}
i.icon-file-pdf{
	background: #FA6759;
	border: 1px solid #FA6759;
}
.funtionality i.icon-file-pdf:hover{
	background: #E15D50;
}

.ctrls i.pin{
	transform: rotate(135deg);
}
.ctrls i.pinned{
	transform: rotate(-45deg);
	border: 1px solid #3879D9;
}
.filter-report .sec-added{
	position: relative;
	margin-bottom: 1rem;
}
.filter-report .xClose{
	opacity: 0;
	margin-top: -6px;
	margin-right: -6px;
	z-index: 1;
}

.sec-added:hover > .xClose{
	opacity: 1;
}
.filter-report input,
.filter-report select{
	width: 100%;
}

.filter-added section{
	max-height: 400px;	
}
.filter-added.hidden section{
	max-height: 0;
	overflow: hidden;
}
.filter-added nav{
	margin-bottom: 2rem;
}
.callFilter{
	
	position: static;
}
/*	q*/


.master-content{
	margin-top: 2rem;
	padding: 0 1rem 1rem;
	max-height: 100%;
    overflow: auto;
}

.table-list .to-report{
	display: flex;
}
.table-list .to-report{
	justify-content: space-between;
}
.table-list .to-report{
	align-items: center;
}
.table-list{
	margin-top: 1rem;
	width: 100%;
	margin: auto;
}
.table-list .to-report{
	margin-bottom: 1rem;
}
.x-table{
	max-height: 390px;
	background: #FFF;
}