.cheq .second,
.cheq .container,
.cheq .menu-cheq{
	display: flex;
}
.cheq .menu-cheq{
	justify-content: space-between;
}
.cheq .second,
.cheq .container{
	flex-direction: column;

}
.cheq table *{
	transition: none;
}
.cheq .container{
	flex-grow: 1;
}

/*.cheq .abas [class*="table-"]{
	height: 100%;
}*/
.cheq .abas table{
	height: 100%;
}
/*.cheq .abas table *{
	transition: none;

}*/
.cheq .abas section.active{
	top: 0;
}