.cheq .second,
.cheq .container{
	display: flex;
}
.cheq .menu-cheq{
	justify-content: space-between;
}
.cheq .second,
.cheq .container{
	flex-direction: column;

}
.cheq .container{
	flex-grow: 1;
}

.table-list-cheq{
	max-height: 400px;
	background: #FFF;
}
.cheq .icon-undo2{
	line-height: 2.7rem;
	padding: 0 2rem;
	background: #0C83DA;
	color: #FFF;
	max-width: 160px;
	margin-bottom: 1rem;
	border-radius: 2px;
	cursor: pointer;
}
.cheq .icon-undo2 span{
	cursor: label;
}

.mp-reset-cheq .content{
	display: flex;
	margin: 1rem 0 2rem;
}
.mp-reset-cheq section:first-child{
	margin-right: 2rem;
	padding: 0 2rem 2rem 0;
	border-right: 1px #eee solid;
}
.mp-reset-cheq h1{
	font-weight: 1.5rem;
	font-weight: normal;
	margin: 1rem 0;
	color: #0C83DA;
}
.mp-reset-cheq nav{
	line-height: 2.7rem;
	border-bottom: 1px #eee solid;
}
.mp-reset-cheq .content b{
	display: inline-block;
	min-width: 120px;
}
.mp-reset-cheq .content span:before{
	content: ": "
}