.cheq .second,
.cheq .container,
.cheq .menu-cheq{
	display: flex;
}
.cheq .menu-cheq{
	justify-content: space-between;
}
.cheq .second,
.cheq .container{
	flex-direction: column;

}
.cheq table *{
	transition: none;
}
.cheq .container{
	flex-grow: 1;
}

/*.cheq .abas [class*="table-"]{
	height: 100%;
}*/
.cheq .abas table{
	height: 100%;
}
/*.cheq .abas table *{
	transition: none;

}*/
.cheq .abas section.active{
	top: 0;
}
.table-list-cheq{
	max-height: 400px;
	background: #FFF;
}
.cheq .icon-undo2{
	line-height: 2.7rem;
	padding: 0 2rem;
	background: #02A8F4;
	color: #FFF;
	max-width: 160px;
	margin-bottom: 1rem;
	border-radius: 2px;
	cursor: pointer;
}
.cheq .icon-undo2 span{
	cursor: pointer;
}
