
.adm-user .container{
	/*position: relative;*/
	height: 100%;
}
.adm-user .first{
	align-items: center;
}
.adm-user .filter{

}
.filter li{
	line-height: 2.2rem;
	min-width: 100px;
	display: inline-block;
	margin: .5rem;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
	font-size: .97rem;
}
.filter li.active{
	background: #4C9ED9;
	color: #FFF;
}
.adm-user .list-user{
	padding-bottom: 1rem;
	height: 100%;
	position: relative;
}
.list-user{
	display: flex;
}
.list-user{
	flex-wrap: wrap;
	align-items: flex-start;
	overflow: auto;
}

.list-user section{
	text-align: center;
	width: 32%;
	min-width: 300px;
	margin: 0 .5% 1% ;
	background: #fff;
	padding: 15px;
	position: relative;
	border: 1px #e5e6e9 solid;
	border-bottom: 2px #ddd solid;
}
.list-user section.hidden{
	display: none;
}
.list-user span{
	position: absolute;
	top: 10px;
	right: 10px;
}
.list-user i{
	margin-left: 8px;
	color: #888;
	cursor: pointer;
	display: none;
}
.list-user section:hover i{
	display: inline-block;
}
.list-user i:hover{
	color: #000;
}
.list-user div{
	color: #666;
}
.list-user h4{
	margin: 1rem 0 1.5rem 0;
	color: #19BD9B;
}
.list-user p{
	line-height: 1.7rem;
}
.list-user nav{
	margin: auto;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	flex-shrink: 0;
	box-shadow: 0 0 2px 0 #ddd;
}


.adm-user .adm-ph-user{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px #ededed solid;
	margin: -1rem auto 1rem auto;
	overflow: hidden;
}
.adm-ph-user input{
	display: none;
}
.adm-ph-user nav{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	color: #f5f5f5;
	font-size: 1.7rem;
	position: relative;
	bottom: -100%;
	z-index: 1;
}
.adm-ph-user:hover nav{
	bottom: 0;
}
.adm-ph-user label{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.add-new-user p{
	cursor: pointer;
}

.new-photo{
	margin: 1rem 0;
	color: #666;
	text-align: center;
	border-top: 2px transparent solid;
	border-bottom: 2px transparent solid;
	line-height: 2rem;
	cursor: pointer;
}
.new-photo:hover{
	border-color: #EEE;
}

.new-photo:hover{
	color: #4285f4;
	text-decoration: underline;
}
.mp-menu-user .content{
	display: flex;
}
.mp-menu-user .default{
	padding: 1rem;
	border: 1px #eee solid;
	background: #F7FCF8;
	max-height: 80vh;
	overflow: auto;
	margin-right: 1rem;
}
.mp-menu-user .def{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	color: #02A8F4;
}
.mp-menu-user .def b{
	font-size: 1.2rem;
	cursor: pointer;
}
.mp-menu-user .default i{
	display: block;
	min-width: 8rem;
	margin: 0 35% 1rem 0;
	cursor: pointer;
}

.search{
	border: 1px #ddd solid;
	border-radius: 40px;
	position: relative;

}
.search input{
	border: none;
	padding: 7px 1rem;
	background: transparent;
	width: 100%;
	border-radius: 40px;
	min-width: 200px;
}
.search input:focus{
	background: #FFF;
}
.search i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: .8rem;	
	z-index: 1;
	right: 1rem;
}

/*##########################################*/

.log-user{
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	width: 100%;
	z-index: 50;
}
.log-user ul{
	width: 240px;
	background: #ddd;
}
.log-user ul li{
	line-height: 2.4rem;
	border-bottom: 1px #333 solid;
	
}
.log-user .content{
	display: flex;
}
